doctype html
html(lang="en")
  head
    title= 'items'
    style
      include ../static/style.css
      
  body
    h1 Émissions pour cette recherche
    
    ul
      each doc in docs
        #item
          hr
          h2
            a(href=doc.link)= doc.title
          p= doc.date
          p= doc.description
          a(href=doc.guid) Écouter (clic droit puis enregistrer sous pour enregistrer)
          br
          br
          br
